<%= form_for(@my_blog) do |f| %>
  <% if @my_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_blog.errors.count, "error") %> prohibited this my_blog from being saved:</h2>

      <ul>
      <% @my_blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="form-group">
    <%= f.label :post %><br>
    <%= f.text_area :post %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
