<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
  <%= @datetime(comment.created_at) %>
</p>

<p>
  <strong>Comment entry:</strong>
  <%= @comment.comment_entry %>
</p>

<div class="btn-group">
<%= link_to 'Edit', edit_comment_path(@comment), class: "btn btn-default" %> |
<%= link_to 'Back', comments_path, class: "btn btn-default" %>
</div>