<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
	<div class="panel-body">
		by: <strong><%= link_to @blog_post.user.username, user_profile_path(id: @blog_post.user.id) %></strong> on <%= @blog_post.created_at.strftime("%A, %B, %e, %Y, at %r") %></p>
		<p><%= @blog_post.blog_entry %></p>
		<% if current_user.id == @blog_post.user.id %>
		<div class="panel-footer">
			<p>
				<%= link_to 'Edit Post', edit_blog_post_path(@blog_post), class: "btn btn-warning" %> <%= link_to 'Destroy', @blog_post, method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-danger" %>
			</p>
		</div>
		<% end %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Make a Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Comments
	</div>
	<% @blog_post.comments.each do |comment| %>
	<div class="panel-body">
		<p><strong><%= link_to comment.user.username, user_profile_path(id: comment.user.id) %></strong> said <%= time_ago_in_words(comment.created_at) %> ago: </p>
		<p><%= comment.comment_entry %></p>
	</div>
	<% end %>
</div>

<div class="btn-group">
	<!-- # blog_post), class: "btn btn-default" %>  -->
	<%= link_to 'Back', blog_posts_path, class: "btn btn-default" %>
</div>

