<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
	<div class="panel-body">
		by: <strong><%= @blog_post.user.email %></strong> on <%= @blog_post.created_at.strftime("%A, %B, %e, %Y, at %r") %></p>
		<p><%= @blog_post.blog_entry %></p>
	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		Make a Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-header">
		<h4>Comments</h4>
	</div>
	<% @blog_post.comments.each do |comment| %>
	<div class="panel-body">
		<p><strong><%= comment.user.email %></strong> said <%= time_ago_in_words(comment.created_at) %> ago: </p>
		<p><%= comment.comment_entry %></p>
	</div>
	<% end %>
</div>

<div class="btn-group">
	<%= link_to 'Edit', edit_blog_post_path(@blog_post), class: "btn btn-default" %> 
	<%= link_to 'Back', blog_posts_path, class: "btn btn-default" %>
</div>

