<% if notice != nil %>
  <p id="notice" class="alert alert-success" role="alert">
    <%= notice %>
  </p>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @teacher.subject %>
</p>

<div class="btn-group">
<%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-default" %> |
<%= link_to 'Back', teachers_path, class: "btn btn-default" %>
</div>