<h1>Welcome to my Travel Site</h1>
<p>This is my very spiffy travel site!</p>

<p>Some day, I would <i>love</i> to visit <strong><%= @homeland %></strong>.</p>

<p>I also plan to travel to these beautiful countries as well: </p> 


<ul> 
<% @countries.each do |country| %>
  <li><%= country %></li>
  <% end %>
</ul>

<% @images.each do |photo| %>
  <p> <%= image_tag photo, class: "img-responsive" %> </p>
<% end %>


<table class="table">
  <tr>
    <% @united_states.each do |key,value| %>
	  <th><%= key.titleize %></th>
    <% end %>
  </tr>
  <tr>
    <% @united_states.each do |key,value| %>      
      <% if value.kind_of?(Array) %>
          <td><%= value.join(", ") %></td>
      <% else %>
         <td><%= value %></td>
      <% end %> 
    <% end %>
  </tr>
</table>