<p id="notice"><%= notice %></p>

<h1>Awesome Artists</h1>

<p><%= link_to "Add New Artist", new_artist_path, class: "btn btn-primary" %>
</p>



<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-md-6">             
      <div class="well">
        <% if @artist.avatar_file_name != nil %>
        <%= image_tag artist.avatar.url(:thumb),       class: "img-responsive" %>
        <% end %>
      <h2><%= link_to artist.name, artist %></h2>
      <h4><%= link_to edit_artist_path(artist) do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <% "#{artist.rating}".to_i.times do %>
        <span class="glyphicon glyphicon-star"></span>
        <% end %>
      <h4><%= link_to artist, method: :delete, data: {confirm: 'Are you sure?'}  do %>
        <span class="glyphicon glyphicon-trash"></span>
        <% end %>
       </h4>     
    
        </div>
      </div>
      <% end %>
    </div>
  </end>
  </div> 
</div>